<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
    <% include ./partials/header %>
</header>
<body>
    <p>Contact page test</p>
    <% const person = {
        fname: 'Clay',
        lname: 'Darland',
        email: 'clay@darland.info',
        github: 'doopingen',
    } %>

    <%= person.fname %>
</body>
<footer>
    <% include ./partials/footer %>
</footer>
</html>