<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Skill Site</title>
</head>
<header>
    <% include ./partials/header %>
</header>
<body>
    <p>This is a test</p>
    <img src="/images/clay-darland-cto.jpeg">
</body>
<footer>
    <% include ./partials/footer %>
</footer>
</html>